<template>
    <div id="form-container" class="container2">
        <h1>Lisa loom</h1>
        <h2><span class="material-icons">looks_one</span> Looma info</h2>
        <div class="form-row">
            <label id="animal-name-label" for="animal-name">Nimi või pealkiri:<span class="required">*</span><span v-if="errors.indexOf('name') > -1" class="error">Nimi on kohustuslik</span></label>
            <input id="animal-name" type="text" v-model="animal.name" placeholder="nt. Miisu, Muri, Hiiretips" :class="{ error: errors.indexOf('name') > -1 }">
        </div>
        <div class="form-row col3">
            <label>Liik:<span class="required">*</span></label>
            <div v-for="(s, index) in speciesList" class="form-option"><input type="radio" v-model="animal.species" :value="s.url" name="animal-species" :id="'animal-species-' + index"><label :for="'animal-species-' + index">{{ s.name }}</label></div>
        </div
        ><div class="form-row col3">
            <label>Sugu:<span class="required">*</span></label>
            <div v-for="(g, index) in genderList" class="form-option"><input type="radio" v-model="animal.gender" :value="g.url" name="animal-gender" :id="'animal-gender-' + index"><label :for="'animal-gender-' + index">{{ g.name }}</label></div>
        </div
        ><div class="form-row col3">
            <label>Vanus:<span class="required">*</span></label>
            <div v-for="(a, index) in ageList" class="form-option"><input type="radio" v-model="animal.age" :value="a.url" name="animal-age" :id="'animal-age-' + index"><label :for="'animal-age-' + index">{{ a.name }}</label></div>
        </div>
        <div class="form-row">
            <label for="animal-shelter">Varjupaik:<span class="required">*</span><span v-if="errors.indexOf('shelter') > -1" class="error">Varjupaik on kohustuslik</span></label>
            <select id="animal-shelter" v-model="animal.shelter" :class="{ error: errors.indexOf('shelter') > -1 }">
                <option value="" disabled>Vali varjupaik</option>
                <option v-for="shelter in shelterList" :value="shelter.url">{{ shelter.name }}</option>
            </select>
        </div>
        <div class="form-row">
            <label for="animal-county">Asukoht:</label>
            <select id="animal-county" v-model="animal.county">
                <option value="" disabled>Vali maakond</option>
                <option v-for="county in countyList" :value="county.url">{{ county.name }}</option>
            </select>
        </div>
        <div class="form-row">
            <label for="animal-sheltered-since">Varjupaigas alates:<span class="required">*</span><span v-if="errors.indexOf('sheltered_since') > -1" class="error">Kontrolli kuupäeva formaati</span></label>
            <input type="text" id="animal-sheltered-since" v-model="animal.sheltered_since" placeholder="aasta-kuu-päev" :class="{ error: errors.indexOf('sheltered_since') > -1 }">
        </div>
        <div class="form-row">
            <label>Tehtud protseduurid:</label>
            <div v-for="(p, index) in procedureList" class="form-option block"><input v-model="procedures" type="checkbox" :id="'animal-procedure-' + index" name="animal-procedure" :value="p.url"><label :for="'animal-procedure-' + index">{{ p.name }}</label></div>
        </div>
        <label>Kirjelda looma (iseloom, suhtumine teistesse loomadesse jne):<span class="required">*</span><span v-if="errors.indexOf('description') > -1" class="error">Kirjeldus on kohustuslik</span></label>
        <div id="editor">
            <div id="editor-toolbar">
                <button class="toolbar-item" @click="format('bold')"><i class="material-icons">format_bold</i></button>
                <button class="toolbar-item" @click="format('removeformat')"><i class="material-icons">format_clear</i></button>
                <button class="toolbar-item" @click="addLink"><i class="material-icons">link</i></button>
            </div>
            <div id="editor-content" contenteditable="true" v-on:paste="paste" spellcheck="false" v-html="animal.description" :class="{ error: errors.indexOf('description') > -1 }"></div>
        </div>

        <h2><span class="material-icons">looks_two</span> Lisa pildid</h2>
        <input type="file" id="image-uploader" @change="imageChange" name="image-uploader[]" multiple>
        <label for="image-uploader"><span class="material-icons">image</span> Kliki pildi valimiseks siia <br><span class="subtext">Maksimaalne piltide arv on 4</span></label>

        <div class="image-previews">
            <div v-for="(img, index) in imageUrls" class="image-preview">
                <div class="thumb" :style="{ backgroundImage: 'url(' + img.url + ')'}"></div>

                <div class="thumb-info">
                    <div class="thumb-name">{{ getImageName(img.name) }}</div>
                    <div class="thumb-option delete-btn" title="Eemalda pilt" @click="removeImage(index)">Kustuta</div
                    ><div class="thumb-option set-profile-img-btn" :class="{ active: profileImage === index }" @click="profileImage = index" title="Määra profiilipildiks">Profiilipilt</div>
                </div>
            </div>
        </div>

        <button class="save-btn" @click="save">Lisa loom</button>
        <div v-if="success" class="success">Loom lisatud! Vaata <router-link :to="'/animals/' + id">SIIT</router-link>!</div>
    </div>
</template>

<script>
  import Utils from '../utils';

  export default {
    name: 'add_animal',
    data () {
      return {
        animal: {
          name: "Kass",
          species: this.$store.state.apiUrl + "species/1/",
          age: this.$store.state.apiUrl + "ages/1/",
          gender: this.$store.state.apiUrl + "genders/1/",
          shelter: this.$store.state.apiUrl + "shelters/3/",
          sheltered_since: "2017-01-01",
          description: "otsin kodu",
          county: ""
        },
        profileImage: 0,
        procedures: [],
        images: [],
        imageUrls: [],
        speciesList: [],
        genderList: [],
        ageList: [],
        procedureList: [],
        shelterList: [],
        countyList: [],
        errors: [],
        success: false,
        id: ""
      }
    },
    mounted() {
      if (Utils.isLoggedIn(this.$store) === false) {
        this.$router.push("/");
      }
      this.$http.get(this.$store.state.apiUrl + 'species/').then(response => {
        this.speciesList = response.body;
      });
      this.$http.get(this.$store.state.apiUrl + 'genders/').then(response => {
        this.genderList = response.body;
      });
      this.$http.get(this.$store.state.apiUrl + 'ages/').then(response => {
        this.ageList = response.body;
      });
      this.$http.get(this.$store.state.apiUrl + 'procedures/').then(response => {
        this.procedureList = response.body;
      });
      this.$http.get(this.$store.state.apiUrl + 'shelters/').then(response => {
        this.shelterList = response.body;
      });
      this.$http.get(this.$store.state.apiUrl + 'counties/').then(response => {
        this.countyList = response.body;
      });
    },
    methods: {
      imageToBase64(image) {
        let reader = new window.FileReader();
        reader.readAsDataURL(image);
        let _this = this;
        reader.onloadend = function() {
          _this.images.push(reader.result);
        }
      },
      imageChange(event) {
        let images = event.target.files;
        for (let i = 0; i < images.length; i++) {
          let file = images[i];
          let objectURL = URL.createObjectURL(file);
          this.imageUrls.push({ name: file.name, url: objectURL});
          this.imageToBase64(file);
        }
      },
      getImageName(name) {
        return Utils.getImageName(name);
      },
      removeImage(index) {
        let profile = this.imageUrls[this.profileImage];

        this.imageUrls.splice(index, 1);
        this.images.splice(index, 1);

        if (this.profileImage === index) {
          this.profileImage = 0;
        } else {
          this.profileImage = this.imageUrls.indexOf(profile);
        }
      },
      format(command) {
        document.execCommand(command, false, null);
      },
      addLink() {
        Utils.addLink();
      },
      paste(e) {
        Utils.paste(e);
      },
      getDescription() {
        this.animal.description = document.getElementById("editor-content").innerHTML;
      },
      checkField(value, name) {
        if (value.length === 0) {
          this.errors.push(name);
        } else {
          let index = this.errors.indexOf(name);
          if (index !== -1) this.errors.splice(index);
        }
      },
      checkRequired() {
        this.getDescription();
        this.checkField(this.animal.name, 'name');
        this.checkField(this.animal.description, 'description');
        this.checkField(this.animal.shelter, 'shelter');
        this.checkField(this.animal.sheltered_since, 'sheltered_since');
        if (! Utils.checkDate(this.animal.sheltered_since)) { this.errors.push('sheltered_since')}
        return this.errors.length === 0;
      },
      successFn(response) {
        this.success = true;
        this.id = response.body.id;
        this.animal = {
          name: "",
          species: this.$store.state.apiUrl + "species/1/",
          age: this.$store.state.apiUrl + "ages/1/",
          gender: this.$store.state.apiUrl + "genders/1/",
          shelter: "",
          sheltered_since: "",
          description: ""
      };
        this.profileImage = 0;
        this.procedures = [];
        this.images = [];
        this.imageUrls = [];
        this.$router.push('/animals/' + this.id);
      },
      save() {
          if (!this.checkRequired()) return;

          this.$http.post(this.$store.state.apiUrl + 'animals/', this.animal).then(response => {
            let url = response.body.url;
            for (let i = 0; i < this.procedures.length; i++) {
              this.$http.post(this.$store.state.apiUrl + 'procedures_done/', {animal: url, procedure: this.procedures[i]}).then(response => {});
            }
            for (let i = 0; i < this.images.length; i++) {
              let is_profile_image = this.profileImage === i;
              this.$http.post(this.$store.state.apiUrl + 'images/',
                {animal: url, image: this.images[i], is_profile_image: is_profile_image}).then(response2 => {
                  if (i === this.images.length-1) {
                    this.successFn(response);
                  }
                },
                {headers: {'Authorization': 'Token ' + this.$store.state.token}});
            }
            if (this.images.length === 0) {
              this.successFn(response);
            }
          },{headers: {'Authorization': 'Token ' + this.$store.state.token}});
        }
    }
  }
</script>

<style>

</style>
