<template>
        <div class="cat card">
            <button class="like" title="Lisa meeldivaks" v-if="$store.state.isLoggedIn" :class="{ active: isLiked() }" @click="editLike"><span class="material-icons">favorite</span></button>
            <router-link :to="'/animals/' + id">
            <div class="cat-image-medium" v-bind:style="{ backgroundImage: 'url(' + image + ')' }"></div>
            <div class="cat-info">
                <div class="name">{{ name }}<span class="status" v-if="status !== 'aktiivne'"> - {{ status }}</span></div>
                <div v-if="showShelter" class="location">{{ shelter }}</div>
            </div>
            </router-link>
        </div>
</template>

<script>
  export default {
    name: 'animalCard',
    props: ['image', 'name', 'shelter','id', 'showShelter', 'like','url','status'],
    data () {
      return {
        newLikeId: "",
        dirtyLike: false
      }
    },
    methods: {
      isLiked() {
        if (this.dirtyLike) return this.newLikeId !== "";
        return this.like !== "";
      },
      getLikeId() {
        if (this.dirtyLike) return this.newLikeId;
        return this.like;
      },
      edit() {
        this.$router.push('/edit/' + this.id);
      },
      editLike() {
        if (!this.isLiked() && this.$store.state.isLoggedIn) {
          this.$http.post(this.$store.state.apiUrl + 'likes/',
            {animal: this.url, user: this.$store.state.userUrl}).then(response => {
              let url = response.body.url;
              this.dirtyLike = true;
              this.newLikeId = url.split(this.$store.state.apiUrl + "likes/")[1].split("/")[0];
            },
            {headers: {'Authorization': 'Token ' + this.$store.state.token}});
        }

        if (this.isLiked() && this.$store.state.isLoggedIn) {
          this.$http.delete(this.$store.state.apiUrl + 'likes/' + this.getLikeId() + '/').then(response => {
              console.log(response.body);
              this.dirtyLike = true;
              this.newLikeId = '';
            },
            {headers: {'Authorization': 'Token ' + this.$store.state.token}});
        }
      }
    }
  }
</script>

<style>
    .status {
        color: #fff;
        text-transform: uppercase;
    }

    h1 .status {
        color: #599aff;
    }
</style>
