<template>
    <div>
        <div v-if="showBigPicture" class="big-image-bg" @click="showBigPicture = false; bigPicture = profileIndex"></div>
        <div v-if="showBigPicture" class="big-image">
            <div v-if="animal.images.length > 1" class="arrow-left" @click="previousImage"><span class="material-icons">keyboard_arrow_left</span></div>
            <img :src="animal.images[bigPicture].image">
            <div v-if="animal.images.length > 1" class="arrow-right" @click="nextImage"><span class="material-icons">keyboard_arrow_right</span></div>
        </div>

        <div class="blur-container-2">
            <div id="blur-image" :style="{ backgroundImage: 'url(' + profileImage + ')' }"></div>
        </div>
        <div id="profile">
            <div id="left">
                <div id="images">
                    <div class="profile-image">
                        <button class="like" title="Lisa meeldivaks" v-if="$store.state.isLoggedIn" :class="{ active: animal.like !== '' }" @click="editLike"><span class="material-icons">favorite</span></button>
                        <button v-if="animal.is_my_animal" @click="edit" class="edit" title="Muuda"><span class="material-icons">edit</span></button>
                        <div @click="showBigPicture = true" class="image" :style="{ backgroundImage: 'url(' + activeImage + ')' }"></div>
                    </div>
                    <div id="thumbnails" v-if="animal.images.length > 1">
                        <div class="thumbnail" v-for="(i,k) in animal.images" :style="{ backgroundImage: 'url(' + i.image + ')' }" @click="activeImage = i.image; bigPicture = k"></div>
                    </div>
                </div>
            </div><div id="right">
                <div id="info">
                    <h1 class="name">{{ animal.name }}<span class="status" v-if="animal.status !== 'aktiivne'"> - {{ animal.status }}</span></h1>
                    <table>
                        <tr><td>Liik:</td><td>{{ animal.species }}</td></tr>
                        <tr><td>Vanus:</td><td>{{ animal.age }}</td></tr>
                        <tr><td>Sugu:</td><td>{{ animal.gender }}</td></tr>
                        <tr><td>Asukoht:</td><td>{{ animal.shelter }}</td></tr>
                        <tr><td>Varjupaigas:</td><td>{{ animal.sheltered_since }}</td></tr>
                        <tr><td>Protseduurid:</td>
                            <td><div v-for="proc in animal.procedures">{{ proc["procedure_name"] }}</div></td>
                        </tr>
                    </table>
                    <button id="adopt">Adopteeri {{ animal.name }}</button>
                </div>
            </div>
            <div id="description" v-html="animal.description"></div>
        </div>
    </div>
</template>

<script>
  import Utils from '../utils';

  export default {
    name: 'animal_profile',
    data () {
      return {
        animal: {images: [], description: "", is_my_animal: false, like: ""},
        profileImage: "",
        profileIndex: 0,
        activeImage: "",
        showBigPicture: false,
        bigPicture: ""
      }
    },
    mounted() {
      this.$http.get(this.$store.state.apiUrl + 'animals/' + this.$route.params.id + '/' + Utils.getUser(this.$store, true)).then(response => {
        this.animal = response.body;
        this.profileImage = this.getProfileImage(this.animal.images);
        this.activeImage = this.profileImage;
      }, Utils.getAuthHeader(this.$store));
      this.addKeyUpListener();
    },
    methods: {
      addKeyUpListener() {
        document.addEventListener('keyup', (event) => {
          const keyName = event.key;
          if (keyName === "ArrowRight" && this.showBigPicture) {
            this.nextImage();
          } else if (keyName === "ArrowLeft" && this.showBigPicture) {
            this.previousImage();
          }
        }, false);
      },
      nextImage() {
        let maxIndex = this.animal.images.length - 1;
        if (this.bigPicture === maxIndex) {
          this.bigPicture = 0;
        } else {
          this.bigPicture++;
        }
      },
      previousImage() {
        let minIndex = 0;
        if (this.bigPicture === 0) {
          this.bigPicture = this.animal.images.length - 1;
        } else {
          this.bigPicture--;
        }
      },
      edit() {
        this.$router.push('/edit/' + this.animal.id);
      },
      editLike() {
        if (this.animal.like === '' && this.$store.state.isLoggedIn) {
          this.$http.post(this.$store.state.apiUrl + 'likes/',
          {animal: this.animal.url, user: this.$store.state.userUrl}).then(response => {
              let url = response.body.url;
              this.animal.like = url.split(this.$store.state.apiUrl + "likes/")[1].split("/")[0];
            }, Utils.getAuthHeader(this.$store));
        } else if (this.animal.like !== '' && this.$store.state.isLoggedIn) {
          this.$http.delete(this.$store.state.apiUrl + 'likes/' + this.animal.like + '/').then(response => {
              this.animal.like = '';
            }, Utils.getAuthHeader(this.$store));
        }
      },
      getProfileImage(images) {
        for (let i = 0; i < images.length; i++) {
          if (images[i].is_profile_image === true) {
            this.bigPicture = i;
            this.profileIndex = i;
            return images[i].image;
          }
        }
      }
    }
  }
</script>

<style>
    .big-image-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0; left: 0; bottom: 0; right: 0;
        margin: auto;
        z-index: 100;
        background: rgba(0,0,0,0.6);
        text-align: center;
    }

    .big-image {
        z-index: 1000;
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }

    .arrow-left, .arrow-right {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100px;
        cursor: pointer;
    }

    .arrow-left {
        left: 0;
    }

    .arrow-right {
        right: 0;
    }

    .arrow-left .material-icons, .arrow-right .material-icons {
        font-size: 100px;
        width: 100px;
        height: 100px;
        position: absolute;
        color: #fff;
        top: 0; bottom: 0; left: 0; right: 0;
        margin: auto;
        text-shadow: 2px 2px 4px #000000;
    }

    .arrow-left:hover, .arrow-right:hover {
        background: rgba(0,0,0,0.1);
    }

</style>
