<template>
    <div>
        <div id="hero-image-container">
            <div id="hero-image"></div>
            <div id="search-container">
                <h1>Leia endale karvane sõber</h1>
                <div id="search">
                    <select id="location" v-model="location">
                        <option selected value="">Kogu Eesti</option>
                        <option v-for="c in counties" :value="c.id">{{ c.name }}</option>
                    </select>
                    <select id="species" v-model="species">
                        <option selected value="">Kõik loomad</option>
                        <option v-for="s in speciesList" :value="s.id">{{ s.name }}</option>
                    </select>
                    <select id="age" v-model="age">
                        <option selected value="">Igas vanuses</option>
                        <option v-for="a in ages" :value="a.id">{{ a.name }}</option>
                    </select>
                    <button id="search-btn" @click="search">Otsi</button>
                </div>
            </div>
        </div>
        <div class="search-results">
            <animal-card v-for="animal in animals" :key="animal.id"
                         :image="getProfileImage(animal.images)"
                         :name="animal.name"
                         :shelter="animal.shelter"
                         :id="animal.id"
                         :showShelter="true"
                         :like="animal.like"
                         :url="animal.url"
                         :status="animal.status">
            </animal-card>
        </div>
    </div>
</template>

<script>
  import AnimalCard from './AnimalCard.vue';
  import Utils from '../utils';

  export default {
    name: 'home',
    components: {
      'animal-card': AnimalCard
    },
    data () {
      return {
        counties: [],
        speciesList: [],
        ages:  [],
        location: "",
        species: "",
        age: "",
        animals: []
      }
    },
    mounted() {
      this.$http.get(this.$store.state.apiUrl + 'counties/').then(response => {
        this.counties = response.body;
      });
      this.$http.get(this.$store.state.apiUrl + 'species/').then(response => {
        this.speciesList = response.body;
      });
      this.$http.get(this.$store.state.apiUrl + 'ages/').then(response => {
        this.ages = response.body;
      });
      this.$http.get(this.$store.state.apiUrl + 'animals/?order=latest&limit=4' + Utils.getUser(this.$store, false)).then(response => {
        this.animals = response.body;
      }, Utils.getAuthHeader(this.$store));
    },
    methods: {
      getProfileImage(images) {
        return Utils.getProfileImage(images);
      },
      getParams() {
        let ageParam = this.age === "" ? "" : "&age=" + this.age;
        let locationParam = this.location === "" ? "" : "&location=" + this.location;
        let speciesParam = this.species === "" ? "" : "&species=" + this.species;
        let params = speciesParam + ageParam + locationParam;
        return "?" + params.substr(1);
      },
      search() {
        let params = this.getParams();
        let path = "/search_similar" + params;
        this.$router.push(path);
      }
    }
  }
</script>

<style></style>
