<template>
    <div class="container-3">
        <h1>Meeldivad loomad</h1>
        <div class="animals">
            <animal-card v-for="animal in animals" :key="animal.id"
                 :image="getProfileImage(animal.images)"
                 :name="animal.name"
                 :shelter="animal.shelter"
                 :id="animal.id"
                 :showShelter="true"
                 :like="animal.like"
                 :url="animal.url"
                 :status="animal.status">
            </animal-card>
        </div>
    </div>
</template>

<script>
  import AnimalCard from './AnimalCard.vue';
  import Utils from '../utils';

  export default {
    name: 'liked_animals',
    components: {
      'animal-card': AnimalCard
    },
    data () {
      return {
        animals: [],
      }
    },
    mounted() {
      this.$http.get(this.$store.state.apiUrl + 'animals?likes=true' + Utils.getUser(this.$store, false)).then(response => {
        this.animals = response.body;
      }, Utils.getAuthHeader(this.$store));
    },
    methods: {
      getProfileImage(images) {
        return Utils.getProfileImage(images);
      }
    }
  }
</script>

<style>
    .animals {
        margin-top:30px;
    }
</style>
