<template>
    <div class="login-container">
        <h2>Loo kasutaja</h2>
        <div class="form-row">
            <label for="email">E-mail:</label>
            <input type="text" id="email"placeholder="example@mail.ee" autofocus v-model="username"/>
        </div>
        <div class="form-row">
            <label for="password">Salasõna:</label>
            <input type="password" id="password" placeholder="********" v-model="password"/>
        </div>
        <button class="login-btn" @click="register">Registreeru</button>
    </div>
</template>

<script>
  export default {
    name: 'login',
    data () {
      return {
        username: "",
        password: ""
      }
    },
    mounted() {

    },
    methods: {
      register() {
        this.$http.post(this.$store.state.apiUrl + 'users/', {username: this.username, password: this.password}).then(response => {
          this.login();
        }, response => {
          console.log("error register");
          console.log(response);
        });
      },
      login() {
        this.$http.post(this.$store.state.apiUrl + 'get_auth_token/', {username: this.username, password: this.password}).then(response => {
          let token = response.body.token;
          document.cookie = "token=" + token;
          document.cookie = "username=" + this.username;
          this.$store.commit('login');

          this.$http.get(this.$store.state.apiUrl + 'profiles/?username=' + this.username).then(response => {
            if (response.body[0]['is_shelter'] === true) {
              this.$store.commit('isShelter');
            }
          });

          this.$router.push("/");
        }, response => {
          console.log("error login");
          console.log(response);
        });
      }
    }
  }
</script>

<style>
    .login-container {
        width: 440px;
        height: 370px;
        margin: auto;
        background: #fff;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
    }

    .login-container h2 {
        color: #fff;
        background: #599aff;
        padding-top: 45px;
        padding-bottom: 20px;
        font-weight: bold;
    }

    .login-container .form-row {
        padding: 0 20px;
    }

    .login-btn {
        width: calc(100% - 40px);
        height: 40px;
        margin: 20px;
    }
</style>
