<template>
    <div id="search-similar">
        <div id="search-similar-container">
            <h1>Otsi sarnaseid loomi</h1>
            <div class="search-similar">
                <input type="file" id="image-uploader" name="image-uploader" @change="imageChange">
                <label class="small-image-uploader" for="image-uploader">
                    <span v-if="image.name === '' && search_image.url === ''"><span class="material-icons">image</span> Vali pilt</span>
                    <span v-if="image.name !== '' && search_image.url === ''"><span class="image-preview" v-bind:style="{ backgroundImage: 'url(' + image.url + ')' }"></span> {{ getImageName(image.name) }}</span>
                    <span v-if="search_image.url !== ''"><span class="image-preview" v-bind:style="{ backgroundImage: 'url(' + search_image.url + ')' }"></span> {{ getImageName(search_image.name) }}</span>
                </label>

                <select v-model="species">
                    <option value="">Kõik loomad</option>
                    <option v-for="(s, index) in speciesList" :value="s.id">{{ s.name }}</option>
                </select>

                <select v-model="location">
                    <option value="">kõik maakonnad</option>
                    <option v-for="(c, index) in counties" :value="c.id">{{ c.name }}</option>
                </select>

                <button class="search-btn" @click="prepareSearch">Otsi</button>

                <div class="open-detail-search" @click="show_detail_search = !show_detail_search">
                    Täpsem otsing
                    <i class="material-icons" v-if="show_detail_search">arrow_drop_up</i>
                    <i class="material-icons" v-if="!show_detail_search">arrow_drop_down</i>
                </div>

                <div class="detail-search" v-if="show_detail_search">
                    <div class="detail-search-options">
                        <div class="option">
                            <label>Sugu:</label>
                            <div class="form-option"><input type="radio" v-model="gender" value="" name="gender" id="gender-default"><label for="gender-default">kõik</label></div>
                            <div v-for="(g, index) in genderList" class="form-option">
                                <input type="radio" v-model="gender" :value="g.id" name="gender" :id="'gender-' + index"><label :for="'gender-' + index">{{ g.name }}</label>
                            </div>
                        </div>
                        <div class="option">
                            <label>Vanus:</label>
                            <div class="form-option"><input type="radio" v-model="age" value="" name="age" id="age-default"><label for="age-default">kõik</label></div>
                            <div v-for="(a, index) in ageList" class="form-option">
                                <input type="radio" v-model="age" :value="a.id" name="age" :id="'age-' + index"><label :for="'age-' + index">{{ a.name }}</label>
                            </div>
                        </div>
                        <div class="option">
                            <label>Tehtud protseduurid:</label>
                            <div v-for="(p, index) in procedureList" class="form-option">
                                <input v-model="procedures" type="checkbox" :id="'animal-procedure-' + index" name="animal-procedure" :value="p.id"><label :for="'animal-procedure-' + index">{{ p.name }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="sheltered-since">Varjupaigas alates:</label>
                        <input type="text" id="sheltered-since" v-model="sheltered_since" placeholder="aasta-kuu-päev">
                    </div>
                </div>
            </div>
        </div>

        <div class="search-results">
            <h2>{{ title }}</h2>
            <animal-card v-for="animal in animals" :key="animal.id"
                         :image="getProfileImage(animal.images)"
                         :name="animal.name"
                         :shelter="animal.shelter"
                         :id="animal.id"
                         :showShelter="true"
                         :like="animal.like"
                         :url="animal.url"
                         :status="animal.status">
            </animal-card>

            <animal-card v-for="animal in searchResults" :key="animal.id"
                         :image="animal.image"
                         :name="animal.name"
                         :shelter="animal.shelter"
                         :id="animal.id"
                         :showShelter="true"
                         :like="animal.like"
                         :url="animal.animal"
                         :status="'aktiivne'">
            </animal-card>
        </div>

    </div>
</template>

<script>
  import AnimalCard from './AnimalCard.vue';
  import Utils from '../utils';

  export default {
    name: 'search_similar_animal',
    components: {
      'animal-card': AnimalCard
    },
    data () {
      return {
        title: "Hiljuti varjupaika sattunud:",
        show_detail_search: false,
        animals: [],
        image: {
          name: "",
          url: "",
          base64: ""
        },
        search_image: {
          name: "",
          url: ""
        },
        species: "1",
        speciesList: [],
        gender: "",
        genderList: [],
        age: "",
        ageList: [],
        procedures: [],
        procedureList: [],
        sheltered_since: "",
        location: "",
        counties: [],
        searchResults: []
      }
    },
    mounted() {
      this.$http.get(this.$store.state.apiUrl + 'counties/').then(response => {
        this.counties = response.body;
        let selected = this.getSelected("location");
        this.location = selected !== undefined ? selected : "";
      });
      this.$http.get(this.$store.state.apiUrl + 'species/').then(response => {
        this.speciesList = response.body;
        let selected = this.getSelected("species");
        this.species = selected !== undefined ? selected : "";
      });
      this.$http.get(this.$store.state.apiUrl + 'genders/').then(response => {
        this.genderList = response.body;
        let selected = this.getSelected("gender");
        this.gender = selected !== undefined ? selected : "";
      });
      this.$http.get(this.$store.state.apiUrl + 'ages/').then(response => {
        this.ageList = response.body;
        let selected = this.getSelected("age");
        this.age = selected !== undefined ? selected : "";
      });
      this.$http.get(this.$store.state.apiUrl + 'procedures/').then(response => {
        this.procedureList = response.body;
        let selected = this.getSelected("procedures");
        this.procedures = selected !== undefined ? selected.split(",") : [];
      });
      if (Object.keys(this.$route.query).length === 0) {
        this.$http.get(this.$store.state.apiUrl + 'animals/?order=latest' + Utils.getUser(this.$store, false)).then(response => {
          this.animals = response.body;
        }, Utils.getAuthHeader(this.$store));
      } else {
        this.showSelected();
        this.searchWithParams();
      }
    },
    methods: {
      imageToBase64(image) {
        let reader = new window.FileReader();
        reader.readAsDataURL(image);
        let _this = this;
        reader.onloadend = function() {
          _this.image.base64 = reader.result;
        }
      },
      imageChange(event) {
        let images = event.target.files;
        let file = images[0];
        let objectURL = URL.createObjectURL(file);
        this.image.name = file.name;
        this.image.url = objectURL;
        this.imageToBase64(file);
        this.search_image = {
          name: "",
          url: ""
        }
      },
      getImageName(name) {
        return Utils.getImageName(name);
      },
      prepareSearch() {
        if (this.image.base64 !== "") {
          let species = this.speciesList[this.species - 1].url;
          this.$http.post(this.$store.state.apiUrl + 'search_images/', {image: this.image.base64, species: species}).then(response => {
            let id = response.body.id;
            let params = this.getParams(id);
            this.redirectTo(params);
          }, Utils.getAuthHeader(this.$store));
        } else {
          let params = this.getParams(-1);
          this.redirectTo(params);
        }
      },
      getParams(id) {
        let image= "";
        let name = "";
        if (id >= 0) {
          image = "search_image=" + id + "&";
          name = "&name=" + this.image.name;
        }
        let genderParam = this.gender === "" ? "" : "&gender=" + this.gender;
        let ageParam = this.age === "" ? "" : "&age=" + this.age;
        let proceduresParam = this.procedures.length === 0 ? "" : "&procedures=" + this.procedures;
        let locationParam = this.location === "" ? "" : "&location=" + this.location;
        let shelteredSinceParam = this.sheltered_since === "" ? "" : "&sheltered_since=" + this.sheltered_since;
        return '?' + image + "species=" + this.species + genderParam + ageParam + proceduresParam + shelteredSinceParam + locationParam + name;
      },
      redirectTo(path) {
        this.$router.push("/search_similar" + path);
      },
      searchWithParams() {
        this.$http.get(this.$store.state.apiUrl + 'similar?' + this.$route.fullPath.split("?")[1] + Utils.getUser(this.$store)).then(response => {
          this.searchResults = response.body;
          this.animals = [];
          this.title = "Otsingu tulemused:"
        });
      },
      showSelected() {
        let keys = Object.keys(this.$route.query);
        if (keys.indexOf("gender") > -1 || keys.indexOf("age") > -1 || keys.indexOf("procedures") > -1 || keys.indexOf("sheltered_since") > -1) {
          this.show_detail_search = true;
        }

        let image = this.getSelected("search_image");
        if (image !== undefined) {
          this.search_image.name = this.getSelected("name");
          this.$http.get(this.$store.state.apiUrl + 'search_images/' + image).then(response => {
            this.search_image.url = response.body.image;
          });
        }

        let selected = this.getSelected("sheltered_since");
        this.sheltered_since = selected !== undefined ? selected : "";
      },
      getSelected(key) {
        let query = this.$route.query;
        return query[key];
      },
      getProfileImage(images) {
        return Utils.getProfileImage(images);
      }
    }
  }
</script>

<style>

</style>
