<template>
    <div class="container-3">
        <h1>Varjupaigad</h1>
        <div class="shelters">
            <router-link v-for="(shelter,i) in shelters" :key="i" :to="'/shelters/' + shelter.name">
                <div class="shelter" :style="{ backgroundImage: 'url(' + shelter.image + ')'}">
                    <div class="shelter-name">{{ shelter.name }}</div>
                </div>
            </router-link>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'shelters',
    data () {
      return {
        shelters: {}
      }
    },
    mounted() {
      this.$http.get(this.$store.state.apiUrl + 'shelters/').then(response => {
        this.shelters = response.body;
      });
    }
  }
</script>

<style>
    .shelters {
        margin-top: 30px;
    }
</style>
