<template>
    <div>
        <div class="blur-container">
            <div class="shelter-profile-image" :style="{ backgroundImage: 'url(' + shelter.image + ')'}"></div>
        </div>

        <div class="layer"></div>
        <div class="shelter-main">
            <h1 class="shelter-name">{{ name }}</h1>
            <div>{{ shelter.address }}, {{ shelter.county_name }}</div>
            <div>tel. {{ shelter.phone }}</div>
            <div>{{ shelter.email }}</div>
        </div>
        <div class="container-3">
            <div class="shelter-info">
                <div class="shelter-description" v-html="shelter.description"></div>
            </div>

            <h2>Loomad varjupaigas:</h2>
            <animal-card v-for="animal in animals" :key="animal.id"
                         :image="getProfileImage(animal.images)"
                         :name="animal.name"
                         :shelter="animal.shelter"
                         :id="animal.id"
                         :showShelter="false"
                         :like="animal.like"
                         :url="animal.url"
                         :status="animal.status">
            </animal-card>
        </div>
    </div>
</template>

<script>
  import AnimalCard from './AnimalCard.vue';
  import Utils from '../utils';

  export default {
    name: 'shelter',
    components: {
      'animal-card': AnimalCard
    },
    data () {
      return {
        name: this.$route.params['name'],
        shelter: {
          image: "",
          name: "",
          county: "",
          address: "",
          phone: "",
          description: ""
        },
        animals: []
      }
    },
    mounted() {
      this.$http.get(this.$store.state.apiUrl + 'shelters/?name=' + this.$route.params['name']).then(response => {
        this.shelter = response.body[0];
      });
      this.$http.get(this.$store.state.apiUrl + 'animals/?shelter=' + this.$route.params['name']).then(response => {
        this.animals = response.body;
      });
    },
    methods: {
      getProfileImage(images) {
        return Utils.getProfileImage(images)
      },
    }
  }
</script>

<style>
    .blur-container {
        width: 120%;
        height: 300px;
        position: absolute;
        top: 60px;
        left: -10%;
        overflow: hidden;
    }

    .shelter-profile-image {
        width: 100%;
        height: 120%;
        position: relative;
        top: -10%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        overflow: hidden;
    }

    .layer {
        width: 100%;
        height: 300px;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 90;
        background: rgba(0,0,0,0.3);
    }

    .shelter-main {
        width: 1080px;
        margin: 160px auto 0 auto;
        position: relative;
        z-index: 100;
        color: #fff;
    }

    .shelter-main div {
        color: #fff;
        text-align: center;
    }

    .container-3 {
        width: 1080px;
        margin: 60px auto 0 auto;
    }

    h1.shelter-name {
        color: #fff;
    }

    .shelter-description {
        padding: 20px 0;
    }

    .shelter-description p {
        padding: 5px 0;
    }
</style>
