<template>
    <div class="container2">
        <h1 class="left">Profiil</h1>
        <h2>Minu andmed:</h2>
        <div class="form-row">
            <label for="username">Kasutajanimi:</label>
            <input type="text" id="username" v-model="profile.email" placeholder="Kasutajanimeks on e-mail">
        </div>
        <div class="form-row">
            <label for="name">Nimi:</label>
            <input type="text"id="name" v-model="profile.name" placeholder="Nimi">
        </div>
        <div class="form-row">
            <label for="phone">Telefoni number:</label>
            <input type="text" id="phone" v-model="profile.phone" placeholder="53 533 533">
        </div>

        <button class="save-shelter" @click="updateProfile">Salvesta</button>

        <div v-if="profile.is_shelter">
            <h2>Minu varjupaigad: <button class="add-shelter-field" @click="showNewShelter = true">Lisa varjupaik</button></h2>


            <div class="edit-shelter" v-if="showNewShelter">
                <div class="form-row">
                    <label for="newShelterName">Nimi:</label>
                    <input type="text" id="newShelterName" v-model="newShelter.name" placeholder="Varjupaiga nimi">
                </div>
                <div class="form-row">
                    <label for="newShelterAddress">Aadress:</label>
                    <input type="text" id="newShelterAddress" v-model="newShelter.address" placeholder="Varjupaiga asukoht">
                </div>
                <div class="form-row">
                    <label for="newShelterPhone">Telefon:</label>
                    <input type="text" id="newShelterPhone" v-model="newShelter.phone" placeholder="Varjupaiga kontakt">
                </div>
                <div class="form-row">
                    <label for="newShelterPhone">Email:</label>
                    <input type="text" id="newShelterEmail" v-model="newShelter.email" placeholder="Varjupaiga email">
                </div>
                <div class="form-row">
                    <label for="newShelterCounty">Maakond:</label>
                    <input type="text" id="newShelterCounty" v-model="newShelter.county" placeholder="Millises maakonnas tegutsed?">
                </div>
                <div class="form-row">
                    <label>Kirjeldus:</label>
                    <div id="editor">
                        <div id="editor-toolbar">
                            <button class="toolbar-item" @click="format('bold')"><i class="material-icons">format_bold</i></button>
                            <button class="toolbar-item" @click="format('removeformat')"><i class="material-icons">format_clear</i></button>
                            <button class="toolbar-item" @click="addLink"><i class="material-icons">link</i></button>
                        </div>
                        <div id="editor-content" contenteditable="true" v-on:paste="paste" spellcheck="false" v-html="newShelter.description"></div>
                    </div>
                </div>

                <input type="file" id="medium-image-uploader" @change="getImage" name="image-uploader">
                <label for="medium-image-uploader">
                    <div class="image-upload-preview" v-if="newShelterImage !== ''" :style="{ backgroundImage: 'url(' + newShelterImage + ')' }"></div>
                    <span v-if="newShelterImage === ''"><span class="material-icons">image</span>Lisa pilt</span>
                </label>

                <button class="cancel-2" @click="cancelAddShelter">Katkesta</button><button class="save-shelter-2" @click="addShelter">Salvesta uus varjupaik</button>
            </div>


            <router-link v-for="(shelter,i) in shelters" :key="i" :to="'/shelters/' + shelter.name">
                <div class="shelter small" :style="{ backgroundImage: 'url(' + shelter.image + ')'}">
                    <div class="shelter-name">{{ shelter.name }}</div>
                </div>
            </router-link>
        </div>
    </div>
</template>

<script>
  import Utils from '../utils';

  export default {
    name: 'userProfile',
    data () {
      return {
        profile: {
          url: "",
          name: "",
          phone: "",
          email: "",
          user: "",
          is_shelter: false
        },
        shelters: [],
        newShelter: {
          name: "",
          address: "",
          county: "",
          description: "",
          phone: "",
          email: "",
          image: "",
          user: ""
        },
        newShelterImage: "",
        showNewShelter: false
      }
    },
    mounted() {
      if (this.$store.state.username === "") {
        this.$store.commit('login');
      }
      this.getData();
      this.newShelter.user = this.profile.user;
    },
    methods: {
      format(command) {
        document.execCommand(command, false, null);
      },
      addLink() {
        Utils.addLink();
      },
      paste(e) {
        Utils.paste(e);
      },
      getDescription() {
        this.newShelter.description = document.getElementById("editor-content").innerHTML;
      },
      getImage() {
        let images = event.target.files;
        let file = images[0];
        this.newShelterImage = URL.createObjectURL(file);
        let reader = new window.FileReader();
        reader.readAsDataURL(file);
        let _this = this;
        reader.onloadend = function() {
          _this.newShelter.image = reader.result;
        }
      },
      getData() {
        this.$http.get(this.$store.state.apiUrl + 'profiles/?username=' + this.$store.state.username).then(response => {
          this.profile = response.body[0];
          this.$http.get(this.$store.state.apiUrl + 'shelters/?username=' + this.$store.state.username).then(response => {
            this.shelters = response.body;
          });
        });
      },
      cancelAddShelter() {
        this.showNewShelter = false;
        this.newShelter = {
          name: "",
          address: "",
          county: "",
          description: "",
          phone: "",
          image: "",
          email: ""
        }
      },
      addShelter() {
        this.getDescription();
        this.$http.post(this.$store.state.apiUrl + 'shelters/', this.newShelter).then(response => {
          console.log(response.body);
          this.$router.push("/myprofile");
        });
      },
      updateProfile() {
        this.$http.get(this.profile.user).then(response => {
          let username = response.body.username;
          if (this.profile.email !== username) {
            this.changeUserName();
          }
          this.$http.patch(this.profile.url, {phone: this.profile.phone, name: this.profile.name}).then(response => {
            console.log(response);
          });
        });
      },
      changeUserName() {
        this.$http.patch(this.profile.user, {username: this.profile.email}).then(response => {
            console.log(response);
            document.cookie = "username=" + this.profile.email;
            this.$store.commit('login');
        });
      }
    }
  }
</script>

<style>
    .form-option.no-label {
        margin-top: 15px;
    }

    .add-shelter-field {
        float: right;
        background: transparent;
        color: #599aff;
    }

    .add-shelter-field:hover {
        background: transparent;
        color: #599aff;
    }

    .shelter {
        width: 250px;
        height: 250px;
        margin: 10px;
        display: inline-block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }

    .shelter.small {
        width: 245px;
        height: 245px;
    }

    .shelter .shelter-name {
        width: 100%;
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 20px;
        background: rgba(0,0,0,0.6);
        transition: padding-bottom 0.2s linear;
        font-weight: bold;
        font-size: 18px;
    }

    .shelter:hover .shelter-name {
        padding-bottom: 40px;
    }

    .save-shelter {
        width: 100%;
        height: 40px;
        margin: 20px 0;
    }

    .save-shelter-2, .cancel-2 {
        width: calc(50% - 10px);
        height: 40px;
        margin: 20px 0;
    }

    .cancel-2 {
        margin-right: 20px;
        background: #ccc;
    }

    .cancel-2:hover {
        background: #bbb;
    }
</style>
