<template>
  <div id="app">
    <header>
      <router-link to="/">
        <div id="logo"><img src="./assets/logo.png"/>E-varjupaik</div>
      </router-link>
      <nav>
        <router-link to="/">Kodu otsivad loomad</router-link>
        <router-link to="/search_similar">Otsi sarnast</router-link>
        <router-link v-if="$store.state.isLoggedIn" to="/likes">Meeldivad loomad</router-link>
        <router-link v-if="$store.state.isLoggedIn && $store.state.isShelter" to="/add">Lisa loom</router-link>
        <router-link v-if="$store.state.isLoggedIn && $store.state.isShelter" to="/myanimals">Minu loomad</router-link>
        <router-link to="/shelters">Varjupaigad</router-link>
        <router-link v-if="!$store.state.isLoggedIn" to="/login">Logi sisse</router-link>
        <router-link v-if="!$store.state.isLoggedIn" to="/register">Loo kasutaja</router-link>
        <span class="menu-item" v-if="$store.state.isLoggedIn" @click="logout">Logi välja</span>
        <router-link v-if="$store.state.isLoggedIn" to="/myprofile" class="user"><i class="material-icons">person</i>{{ $store.state.username }}</router-link>
      </nav>
    </header>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      a: ""
    }
  },
  mounted() {
    this.$store.commit('login');
  },
  methods: {
    logout() {
      this.$store.commit('logout');
      this.$router.push("/");
    }
  }
}
</script>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
    font-family: 'Lato', sans-serif;
    color: #5d5d5d;
  }

  .material-icons {
    font-family: 'Material Icons', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
  }

  body {
    background: #f8f8fa;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  a {
    text-decoration: none;
  }

  button, input[type=submit] {
    border: none;
    background: #599aff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
  }

  button:hover, input[type=submit]:hover {
    background: #5580e0;
  }

  h1 {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #599aff;
    font-weight: normal;
  }

  h2 {
    text-align: center;
    margin-bottom: 15px;
    font-weight: normal;
  }


  /* ================================================================================================================== */
  /* =========================================    H E A D E R    ====================================================== */
  /* ================================================================================================================== */

  header {
    width: 100%;
    height: 60px;
    background: #ffffff;
    border-bottom: 1px solid #cccccc;
    padding: 10px;
    position: relative;
  }

  #logo {
    padding-left: 15px;
    color: #5d5d5d;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 40px;
  }

  #logo img {
    height: 40px;
    padding-right: 15px;
  }

  nav {
    position: absolute;
    top: 0;
    right: 15px;
    height: 100%;
  }

  nav a, nav .menu-item {
    display: inline-block;
    height: 100%;
    line-height: 60px;
    padding: 0 10px;
    cursor: pointer;
  }

  nav a .material-icons {
    margin: 15px 10px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    background: #e4e4e4;
    border-radius: 50%;
    color: #fff;
  }

  nav a:hover, nav .menu-item:hover {
    color: #599aff;
  }

  nav a.user {
    border-left: 1px solid #ccc;
    margin-right: -20px;
    padding-right: 30px;
    color: #599aff;
    font-weight: bold;
  }

  nav a.user:hover {
    background: #fafafa;
  }

  /* ================================================================================================================== */
  /* =============================================    H E R O    ====================================================== */
  /* ================================================================================================================== */


  #hero-image-container {
    width: 100%;
    position: relative;
  }

  #hero-image {
    width: 100%;
    height: 35vw;
    max-height: 500px;
    background-size: cover;
    background: url("assets/hero.jpg") no-repeat center;
  }

  /* ================================================================================================================== */
  /* ================================    L A N D I N G P A G E    S E A R C H    ====================================== */
  /* ================================================================================================================== */


  #search-container {
    width: 1050px;
    height: 200px;
    background: rgba(255,255,255,0.99);
    position: absolute;
    bottom: -70px;
    left: 50%;
    margin-left: -525px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
    border-radius: 4px;
    padding: 35px 0 25px 0;
  }

  #search {
    width: 800px;
    margin: 30px auto;
  }

  #search-container select {
    background: #ffffff;
    border: 1px solid #cccccc;
    height: 40px;
    font-size: 16px;
    padding: 7px;
    margin: 0 -2px;
  }

  select:focus, button:focus {
    outline: none;
  }

  #search-container select#location {
    width: 300px;
  }

  #search-container select#species {
    width: 180px;
  }

  #search-container select#age {
    width: 180px;
  }

  button#search-btn {
    height: 40px;
    width: 140px;
  }

  .search-results {
    width: 1080px;
    margin: 110px auto 30px auto;
  }

  /* ================================================================================================================== */
  /* =============================================    C A R D    ====================================================== */
  /* ================================================================================================================== */


  .card {
    border-radius: 5px;
  }

  .cat {
    display: inline-block;
    background: #ffffff;
    margin: 15px;
    position: relative;
  }

  .cat-image {
    width: 330px;
    height: 330px;
    background: no-repeat center center;
    background-size: cover;
  }

  .cat-image-small {
    width: 217px;
    height: 217px;
    background: no-repeat center center;
    background-size: cover;
  }

  .cat-image-medium {
    width: 240px;
    height: 240px;
    background: no-repeat center center;
    background-size: cover;
  }

  .cat-info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    background: rgba(0,0,0,0.6);
    width: 100%;
  }

  .name {
    color: #ebebeb;
    font-weight: bold;
    font-size: 18px;
  }

  .location {
    color: #b8b8b8;
  }

  /* ================================================================================================================== */
  /* =========================================    L I K E  && S H A R E    ============================================ */
  /* ================================================================================================================== */


  button.like, button.share, button.edit {
    width: 40px;
    height: 40px;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    z-index: 10;
  }

  button.like {
    top: 15px;
  }

  button.share {
    top: 65px;
  }

  button.edit {
    top: 65px;
  }

  button.like .material-icons, button.share .material-icons, button.edit .material-icons {
    color: #828282;;
  }

  button.like:hover, button.share:hover, button.edit:hover {
    background: #ebebeb;
  }

  button.like.active {
    background: #FF599A;
  }

  button.like.active:hover {
    background: #dd547d;
  }

  button.like.active .material-icons {
    color: #ffffff;
  }

  button.share .material-icons {
    font-size: 20px;
  }

  /* ================================================================================================================== */
  /* =========================================    P R O F I L E    ==================================================== */
  /* ================================================================================================================== */

  .blur-container-2 {
    width: 120%;
    height:  500px;
    position: absolute;
    top: 60px;
    left: -10%;
    overflow: hidden;
    z-index: -2;
  }

  #blur-image {
    width: 100%;
    height:  120%;
    position: relative;
    top: -10%;
    background-size: cover;
    background-position: center;
    filter: blur(40px);
    overflow: hidden;
  }

  #profile {
    width: 1082px;
    margin: 50px auto 20px auto;
    position: relative;
    z-index: 3;
    background: #ffffff;
    border: 1px solid #f2f2f2;
  }

  #left, #right {
    display: inline-block;
  }

  #left {
    width: 680px;
  }

  #right {
    width: 400px;
  }

  h1.name {
    text-align: left;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: #599aff;
  }

  #images {
    width: 100%;
    display: inline-block;
  }

  .profile-image {
    width: 100%;
    height: 500px;
    position: relative;
    background: #ebebeb;
  }

  .profile-image .image {
    width: 100%;
    height: 100%;
    z-index: 4;
    position: absolute;
    background-size: cover;
    background-position: center;
  }

  .thumbnail {
    width: 113px;
    height: 113px;
    margin: 5px 0 0 5px;
    background: no-repeat center center;
    background-size: cover;
    display: inline-block;
    cursor: pointer;
  }

  #thumbnails {
    padding-bottom: 5px;
  }

  #info {
    width: 100%;
    display: inline-block;
    padding: 25px;
  }

  #description {
    padding: 20px 60px 40px 60px;
    width: 100%;
  }

  #description a {
    color: #599aff;
  }

  #description a:hover {
    color: #5580e0;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin: 25px 0;
  }

  th, td {
    text-align: left;
    padding: 15px 8px;
  }

  td:nth-child(odd) {
    font-weight: bold;
  }

  tr:nth-child(even) {background-color: #f2f2f2}

  button#adopt {
    width: 100%;
    height: 40px;
  }

  /* ================================================================================================================== */
  /* =========================================    S I M I L A R    ==================================================== */
  /* ================================================================================================================== */


  #similar {
    width: 100%;
    padding: 0 45px;
  }

  #similar .title {
    text-align: center;
    padding: 5px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
  }

  /* ================================================================================================================== */
  /* =========================================    G E N E R A L    ==================================================== */
  /* ================================================================================================================== */

  .container {
    width: 1050px;
    margin: 60px auto;
  }

  .container2 {
    width: 800px;
    margin: 0 auto;
    padding: 20px 0;
  }

  /* ================================================================================================================== */
  /* =====================================    A D D && U P D A T E    ================================================= */
  /* ================================================================================================================== */


  .container2 h1 {
    padding: 20px 0 0 0;
    text-align: left;
  }

  .container2 h2, .container-3 h2 {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
  }

  .container2 h2 .material-icons {
    font-size: 40px;
    color: #599aff;
    line-height: 35px;
  }

  label {
    display: block;
    font-weight: bold;
    padding: 20px 0 10px 0;
    text-transform: uppercase;
  }

  label .required, label .error {
    color: #ff0000;
    text-transform: none;
    font-weight: normal;
  }

  label .error {
    margin-left: 5px;
  }

  .form-option label, .form-option input[type=radio], .form-option input[type=checkbox] {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 400;
    padding: 5px 0;
    margin: 0;
  }

  .form-option.block {
    display: inline-block;
    width: 50%;
    margin-right: 0;
  }

  .form-row.col3 {
    display: inline-block;
    width: calc(100%/3);
    margin: 0;
  }

  .form-option input[type=radio], .form-option input[type=checkbox]  {
    margin-right: 5px;
  }

  .form-row input[type=text], .form-row select, .search-form select, .search-form input[type=text], .form-row input[type=password] {
    width: 100%;
    padding: 7px;
    height: 40px;
    font-size: 16px;
    background: #fff;
    border: 1px solid #ccc;
  }

  input[type=text].error, select.error {
    border: 1px solid #ff0000;
  }

  select {
    background: #fff;
  }

  .image-previews {
    margin-top: 15px;
  }

  .image-preview {
    width: 190px;
    margin: 5px;
    display: inline-block;
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
  }

  .thumb {
    width: 100%;
    height: 190px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
  }

  .thumb-info {
    width: 100%;
    background: #fff;
    color: #5d5d5d;
    padding: 15px;
  }

  .thumb-name {
    padding: 5px 0;
  }

  .thumb-option {
    width: 75px;
    margin-top: 5px;
    padding: 5px 0;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }

  .thumb-option.delete-btn:hover {
    color: #ff2e72;
  }

  .thumb-option.set-profile-img-btn:hover, .thumb-option.set-profile-img-btn.active {
    color: #599aff;
  }

  input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  input[type=file] + label {
    background: #fff;
    border: 2px dotted #ccc;
    color: #5d5d5d;
    width: 100%;
    height: 150px;
    line-height: 40px;
    font-size: 18px;
    font-weight: normal;
    padding: 45px;
    margin: 30px 0 25px 0;
    text-align: center;
    cursor: pointer;
  }

  input[type=file]#medium-image-uploader + label {
    width: 150px;
    padding: 0;
    line-height: 150px;
  }

  input[type=file]#medium-image-uploader + label .material-icons {
    line-height: 150px;
  }

  .image-upload-preview {
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
  }

  label .subtext {
    font-size: 16px;
    line-height: 20px;
  }

  input[type=file] + label .material-icons {
    color: #5d5d5d;
    font-size: 18px;
    line-height: 40px;
    margin-right: 5px;
  }

  input[type=file]:focus + label,
  input[type=file] + label:hover {
    border-color: #599aff;
  }

  button.save-btn {
    height: 40px;
    width: 200px;
    margin: 40px 0 20px calc(100% - 200px);
  }

  input[type=file] + label, input[type=radio] + label, input[type=checkbox] + label {
    text-transform: none;
  }

  .success {
    color: #57b859;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }

  .success a {
    color: inherit;
    text-decoration: underline;
  }

  /* ================================================================================================================== */
  /* ==============================================    E D I T O R    ================================================= */
  /* ================================================================================================================== */


  #editor {
    width: 100%;
    height: 300px;
    border: 1px solid #e2e2e2;
  }

  #editor-toolbar {
    width: 100%;
    background: #eeeeee;
  }

  #editor-toolbar button {
    display: inline-block;
    cursor: pointer;
    background: inherit;
    height: 40px;
    width: 40px;
  }

  #editor-toolbar button:hover {
    background: #fff;
  }

  #editor-toolbar .material-icons {
    color: #5d5d5d;
    font-size: 20px;
  }

  #editor-content {
    background: #fff;
    padding: 20px;
    height: calc(100% - 40px);
    overflow-y: scroll;
  }

  #editor-content a {
    color: #599aff;
    cursor: pointer;
  }

  #editor-content a:hover {
    color: #5580e0;
  }

  #editor-content:focus {
    outline: none;
  }

  /* ================================================================================================================== */
  /* =======================================    S I M I L A R   S E A R C H   ========================================= */
  /* ================================================================================================================== */

  #search-similar-container {
    width: 1050px;
    margin: 40px auto;
    background: rgba(255,255,255,0.99);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
    border-radius: 4px;
    padding: 25px 0 30px 0;
  }

  .search-similar {
    width: 800px;
    margin: 20px auto 0 auto;
  }

  input[type=file] + label.small-image-uploader {
    padding: 0;
    margin: 0;
    text-align: left;
  }

  input[type=file] + label.small-image-uploader, #search-similar-container select {
    border: 1px solid rgb(169,169,169);
    width: 200px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    font-size: 16px;
  }

  input[type=file] + label.small-image-uploader:hover {
    background: #599aff;
  }

  input[type=file] + label.small-image-uploader:hover span {
    color: #fff;
  }

  input[type=file] + label.small-image-uploader .material-icons {
    line-height: 40px;
    margin-left: 15px;
  }

  #search-similar-container select {
    padding: 7px;
    margin-left: -5px;
  }

  #search-similar-container .image-preview {
    margin: 1px 5px 1px 1px;
    width: 36px;
    height: 36px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  button.search-btn {
    width: 205px;
    height: 40px;
    margin-left: -5px;
  }

  #search-similar .search-results {
    margin-top: 60px;
  }

  #search-similar h2 {
    text-align: left;
    margin-left: 15px;
  }

  .open-detail-search {
    text-align: right;
    margin: 10px 0 0 0;
    cursor: pointer;
    color: #599aff;
  }

  .open-detail-search .material-icons {
    color: #599aff;
  }

  .detail-search {
    margin: 15px 0;
  }

  .detail-search-options {
    background: #f2f2f2;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }

  .detail-search .option {
    display: inline-block;
    width: 33%;
    height: 240px;
    padding-left: 40px;
    border-right: 1px solid #ccc;
  }

  .detail-search .option:nth-child(3) {
    border: none;
  }

</style>
